
<head>
    <title>Comments of Whitelights</title>
    <h1 class="page_header">Comments</h1>
    <link rel="stylesheet" href="team86_style.css">
</head>


<style>
    table, th, td {
        border: 1px solid black;
    }

</style>

<script src="/comments-frontend.js"></script>

<div class="nav_list">
            <nav>
                <ul class="Navigation">
                    <li class="link"><a class="nav_link" href="/index.html">Home</a></li>
                    <li class="link"><a class="nav_link" href="/users">Users</a></li>
                    <li class="link"><a class="nav_link" href="/videos">Videos</a></li>
                    <li class="link"><a class="nav_link" href="/competitions">Competitions</a></li>
                    <li class = "link_current"><strong>Comments</strong></li>
                    <li class="link"><a class="nav_link" href="/videos_competitions">Videos/Competitions</a></li>
                </ul>
            </nav>
        </div>
    </div>

<form action="/comments/insert" action="get">
  <fieldset>
    <legend>Upload Your Comment</legend>
    <label for="uid">Choose Your Username: </label>
    <select name="uid">
	{{#each users}}
		<option value="{{this.username}}">{{this.username}}</option>
	{{/each}}
    </select>
    <label for="vid">Choose the video you want to comment on </label>
    <select name="vid" id="vid>
	{{#each vids}}
		<option value="{{this.title}}">{{this.title}}</option>
	{{/each}}
    </select>
    <label for="description">Enter Your Comment: </label>
    <input type="text" name="description" id="description">
    <label for="light_score">Seect your score light: </label>
    <select name="light_score" id="light_score">
	<option value=1>White</option>
	<option value=0>Red</option>
    </select>
    <input type="submit" id="commentSubmit" value="INPUT COMMENT">
  </fieldset>
</form>

<form action="/comments/delete" action="get">
  <fieldset>
    <legend>Delete a Comment</legend>
    <label for="comment_uid">Enter the User ID of the Comment to Delete: </label>
    <input type="text" name="comment_uid" id="comment_uid">
    <label for="comment_vid">Enter the Video ID of the Comment to Delete: </label>
    <input type="text" name="comment_vid" id="comment_vid">
    <input type="submit" id = "deleteSubmit" value="DELETE COMMENT">
  </fieldset>
</form>


<form action="/comments/edit" action="get">
  <fieldset>
    <legend>Edit a Comment</legend>
    <label for="comment_uid_edit">Choose the user ID of the comment you want to edit: </label>
    <input type="text" name="comment_uid_edit" id="comment_uid_edit">
    <select name="comment_uid_edit">
	{{#each users}}
		<option value="{{this.user_id}}">{{this.username}}</option>
	{{/each}}
    </select>
    <label for="comment_vid_edit">Enter the Video ID of the Comment to Edit: </label>
    <input type="text" name="comment_vid_edit" id="comment_vid_edit">
    <label for="description_edit">Enter Your New Comment: </label>
    <input type="text" name="description_edit" id="description_edit">
    <label for="light_score_edit">Enter the New Score (enter 1 for a White Light and 0 for a Red Light): </label>
    <input type="text" name="light_score_edit" id="light_score_edit">
    <input type="submit" id = "editSubmit" value="EDIT COMMENT">
  </fieldset>
</form>



<table class= "bodydiv">

    <tr>

        <th>User</th>
        <th>Video</th>
        <th>Comment</th>
        <th>Light Score</th>
        
    </tr>

    {{#each results}}
    <tr>
        
        <td>{{this.username}}</td>
        <td>{{this.title}}</td>
        <td>{{this.description}}</td>
        <td>{{this.light_score}}</td>
        
    </tr>
    {{/each}}
   
</table>
