<h1>Your Workout Routine:</h1>

<style>
	table, th, td {
		border: 1px solid black;
	}

</style>

<script src="/home.js"></script>

<form>
  <fieldset>
    <legend>Input Data to Enter into Table</legend>
    <label for="category">Category: </label>
    <input type="text" name="category" id="category">
    <label for="weight">Weight Completed: </label>
    <input type="text" name="weight" id="weight">
    <label for="uploader_weight">Uploader Weight: </label>
    <input type="text" name="uploader_weight" id="uploader_weight">
    <label for="light_score">Light Score (TRUE is Passing (White), FALSE is Failing (Red)): </label>
    <input type="text" name="light_score" id="light_score">
    <input type="submit" id="workoutSubmit">
  </fieldset>
</form>

<table>
	<tr>
		<th>ID</th>
		<th>Workout Category</th>
		<th>Weight Completed</th>
		<th>Uploader Weight</th>
		<th>Light Score Passing</th>
	</tr>

    {{#each results}}
    <tr>
    	<td>{{this.id}}</td>
    	<td>{{this.category}}</td>
    	<td>{{this.weight}}</td>
    	<td>{{this.uploader_weight}}</td>
    	<td>{{this.light_score}}</td>
    </tr>
    {{/each}}
   
</table>

<p>{{results}}</p>

